.gallery-wrapper {
    background-color: whitesmoke;
    margin-top: 107px;
}

.gallery {
    display: flex;
    column-gap: 1em;

    padding: 1em 0;

    overflow: scroll;
}

.gallery::-webkit-scrollbar {
    display: none;
}
