@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
  background-color: #161B1F;
}

#root {
  min-width: 250px;
  background-color: #161B1F;
}

h1,
h2,
h3,
p,
figcaption,
label,
button,
input {
  color: white;
}

a, a:visited {
  text-decoration: none;
}

.mobile-nav.active {
  color: rgb(230, 35, 93) !important;
}

.mobile-nav.active:hover {
  color: white !important;
}

#gallery::-webkit-scrollbar {
  display: none;
}

.rail-link {
  background-color: #B98D72;
}

.rail-link.active {
  background-color: #57233A;
}

.rail-link:hover {
  background-color: #AE4951;
}

.nav-pop {
  display: block;
  transform: translate(-20em, -0.2em);
  transition: transform 0.5s;
}

.active .nav-pop {
  display: block;
  transform: translate(-0.5em, -0.15em);
}
