@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, a:visited {
  text-decoration: none;
}

a.active {
  color: rgb(230, 35, 93) !important;
}

a.active:hover {
  color: white !important;
}

#gallery::-webkit-scrollbar {
  display: none;
}

#gallery img {
  border: 1px solid red;
}
